<script setup lang="ts">
import { computed, onMounted, ref } from "vue";
import MainViewVue from "./views/MainView.vue";
import LoginViewVue from "./views/LoginView.vue";
import { useLoginStore } from "@/stores/login";

const loginStore = useLoginStore();
onMounted(() => {
  loginStore.loadData();
});
</script>

<template>
  <LoginViewVue v-if="!loginStore.isLogin" />
  <MainViewVue
    v-if="loginStore.isLogin"
    @logout="loginStore.logout"
    :login-name="loginStore.LoginName"
  />
</template>

<style scoped></style>
